<!DOCTYPE html>
    <html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
        <style type="text/css">
            .content{margin:0 auto; width:600px;} 
            body {
              padding:50px;
              font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
              color:#777;
              font-weight:300;
            }

            h1, h2, h3, h4, h5, h6 {
              color:#222;
              margin:0 0 20px;
            }
        </style>
　　</head>
　　<body>

        <div class="content">
　　　　    {{ content }}
        </div>
　　</body>
　　</html>
